<h1>Editing Jhas Special Biryani Dish</h1>

<%= render 'form', injhas_special_biryani_dish: @injhas_special_biryani_dish %>

<%= link_to 'Show', @injhas_special_biryani_dish %> |
<%= link_to 'Back', injhas_special_biryani_dishes_path %>
